<footer class="" data-ng-controller="Footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="lead p-light-gray">Get in touch with Tech People, we'd love to partner with you.</p>
				<ul class="list-unstyled">
					<li class=""><strong>Call: <a class="p-light-gray" href="tel:_15035026125">(503) 502-6125</a></strong></li>\
					<li class=""><strong>Email: <a class="p-light-gray" href="mailto:hello@techpeople.io">hi@techpeople.io</a></strong></li>
				</ul>
			</div>
			<div class="col-md-6">
				<p class="lead p-light-gray">Become an enterprise mobility expert. Sign up for some free advice via our newsletter.</p>
				<div class="panel panel-dark-gray">
					<div class="panel-heading">
						<h3 class="panel-title"><strong>Sign In </strong></h3>
					</div>
					<div class="panel-body">
						<form role="form">
							<div class="form-group">
								<label for="exampleInputEmail1">First Name</label>
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
							</div>
								<div class="form-group">
								<label for="exampleInputEmail1">Last Name</label>
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Email Address</label>
								<input type="email" class="form-control" id="emailAddress" placeholder="Enter email">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Password <a href="/sessions/forgot_password">(forgot password)</a>
								</label>
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
						</form>
					</div>
				</div>
				<button type="submit" class="btn btn-sm btn-default">Signup</button>
				<p class="lead p-light-gray">Don't worry, it's only one email a fortnight and you can unsubscribe with one click.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="media">
					<div class="media-left">
							<img class="media-object" src="http://placehold.it/140x140" alt="Tech People Logo" />
					</div>
					<div class="media-body">
						<h4 class="media-heading">Tech People</h4>
						<p class="p-light-gray">Tech People are the leading providers of technical education specialsists for schools, nonprofits, government, and forward-thinking parents. to bring technology education to underserved communities. To tech-starved communities.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<ul class="list-unstyled">
					<li class="">
						<h3 class="text-white">Get started</h3>
					</li>
					<li class="">
						<a class="">For Students</a>
					</li>
					<li class="">
						<a class="">For Parents</a>
					</li>
					<li class="">
						<a class="">For Teachers</a>
					</li>
					<li class="">
						<a class="">For Admins</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><strong>Sign In </strong></h3>
					</div>
					<div class="panel-body">
						<form role="form">
							<div class="form-group">
								<label for="exampleInputEmail1">Username or Email</label>
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Password <a href="/sessions/forgot_password">(forgot password)</a>
								</label>
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
							<button type="submit" class="btn btn-sm btn-default">Sign in</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p class="text-white">Copyright &copy; Tech People, LLC. All rights reserved. |
			</div>
			<div class="col-md-6">
				<ul class="list-inline">
					<li class="">
						<a id="" class="" ng-href="http://www.twitter.com/techpeopleio" target="_blank">
							<i id="social" class="fa fa-twitter-square fa-3x social-tw"></i>
						</a>
					</li>
					<li class="">
						<a id="" class="" ng-href="http://www.github.com/techpeople" target="_blank">
							<i id="social" class="fa fa-github-square fa-3x social-tw"></i>
						</a>
					</li>
					<li class="">
						<a id="" class="" ng-href="" target="_blank">
							<i id="social" class="fa fa-twitter-square fa-3x social-tw"></i>
						</a>
					</li>
				</ul>
				<a href="https://twitter.com/techpeopleIO">@tyhenkel</a> |
				<a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
				</p>
			</div>
		</div>
	</div>
</footer>