<div ng-include="'components/navbar/navbar.html'"></div>

<header class="bg-dark-gray header-lg" id="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="http://placehold.it/128x128" alt="">
			</div>
			<div class="col-md-8">
				<h1 class="">Bringing technology education back to the people</h1>
				<h3 class="">(Working together with schools, and nonprofits)</h3>
				<span>&mdash;&mdash;&mdash;</span>
				<ul class="list-inline">
					<li>
						<button class="btn btn-lg btn-primary">Signup</button>
					</li>
					<li>
						<button class="btn btn-lg btn-primary">Signup</button>
					</li>
					<li>
						<button class="btn btn-lg btn-primary">Signup</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>

<section id="" class="">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="http://placehold.it/256x256" alt="">
			</div>
			<div class="col-md-8">
				<h2 class="heading-md">Youth Developer Academy:</h2>
				<p class="lead">Start preparing for your career as a software developer.</p>
				<p class="lead">This summer take our intro to programming class, and</p>
				<ul class="list-inline">
					<li class="">
						<button class="btn btn-primary btn-lg">Learn more</button>
					</li>
					<li class="">
						<button class="btn btn-primary btn-lg">Apply now</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<hr>
<section id="benefits" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="box">
					<div class="icon">
						<div class="image"><i class="fa fa-laptop"></i>
						</div>
						<div class="info">
							<h3 class="heading-sm">Web Developer</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
							</p>
							<div class="more">
								<button class="btn btn-primary btn-lg" ui-sref="#" title="Title Link">
									Become a Mobile Developer
								</button>
							</div>
						</div>
					</div>
					<div class="space"></div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="box">
					<div class="icon">
						<div class="image"><i class="fa fa-mobile"></i>
						</div>
						<div class="info">
							<h3 class="heading-sm">Mobile Developer</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
							</p>
							<div class="more">
								<button class="btn btn-primary btn-lg" ui-sref="#" title="Title Link">
									Become a Mobile Developer
								</button>
							</div>
						</div>
					</div>
					<div class="space"></div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="box">
					<div class="icon">
						<div class="image"><i class="fa fa-thumbs-o-up"></i>
						</div>
						<div class="info">
							<h3 class="heading-sm">Software Developer</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
							</p>
							<div class="more">
								<button class="btn btn-primary btn-lg" ui-sref="#" title="Title Link">
									Become a Software Developer
								</button>
							</div>
						</div>
					</div>
					<div class="space"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<hr>
<section id="benefits" class="">
	<div class="container">
		<div class="row">
			<div class="col-md-12"></div>
			<h2 class="heading-md text-center">Launch your career as a software developer</h2>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<div class="row">
					<div class="col-sm-6 col-md-12">
						<div class="col-sm-6 col-md-6">
							<div class="box">
								<div class="icon">
									<div class="image"><i class="fa fa-mobile"></i>
									</div>
									<div class="info">
										<h3 class="heading-sm">HTML5</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
										</p>
										<div class="more">
										</div>
									</div>
								</div>
								<div class="space"></div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="box">
								<div class="icon">
									<div class="image"><i class="fa fa-mobile"></i>
									</div>
									<div class="info">
										<h3 class="heading-sm">CSS3</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
										</p>
										<div class="more">

										</div>
									</div>
								</div>
								<div class="space"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-12">
						<div class="col-sm-6 col-md-6">
							<div class="box">
								<div class="icon">
									<div class="image"><i class="fa fa-mobile"></i>
									</div>
									<div class="info">
										<h3 class="heading-sm">HTML5</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
										</p>
										<div class="more">
										</div>
									</div>
								</div>
								<div class="space"></div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="box">
								<div class="icon">
									<div class="image"><i class="fa fa-mobile"></i>
									</div>
									<div class="info">
										<h3 class="heading-sm">CSS3</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
										</p>
										<div class="more">

										</div>
									</div>
								</div>
								<div class="space"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well">
					<h3 class="heading-sm">What is Launch?</h3>
					<p class="lead">Reactor Prep is a 4 week part-time course offered by Tech People towards beginners with little-to-no experience with computer programming. Over the course of 20 classes, you’ll learn the fundamentals of HTML5, CSS3, and Javascript - also known as Front-End Web Development. By the end of this course, you’ll be able to create static websites, build single page web applications, and have a good sense of whether or not programming is right for you.</p>

<p class="lead">This course is being taught by Robert Raleigh, a Tech People co-founder and experienced developer and instructor. The curriculum is comprised of code-alongs, projects, and brief lectures.  Students will quickly become familiar with tools including the code editor, browser console, and terminal. If you have ever thought about becoming a software engineer, this course provides a quick and effective way to learn the basics.</p>

<h3>When do we meet?</h3> 
<p class="lead">The Launch Course will meet Mon-Fri, 6:30-9:30PM from July 6th to July 31st. This is equivalent to 20 classes or 60 hours of instruction.</p>

<h3>Where are we meeting? </h3>
<address>NextSpace Union Square 
1 Hallidie Plaza, 2nd Floor 
San Francisco, CA, 94102
</address>

HOW MUCH DOES THIS COURSE COST? 
The course price is $1200. Payment must be paid in full to secure a spot.

DO I NEED A LAPTOP? 
Yes. We’d prefer you bring a Mac but Windows based machines will be okay as well.

<h3>Will ? </h3>
No. This course will prepare you for our admissions process, we cannot guarantee acceptance to the Hack Reactor Program. You’ll have to go through the same Coding Challenge &amp; Technical Interview as other applicants.</p>
					<p class="lead">Price: <i class="fa fa-usd" aria-hidden="true"></i>575.00</p>
					<button class="btn btn-block btn-primary btn-lg" ui-sref="#" title="Title Link">
						<i class="fa fa-ticket" aria-hidden="true"></i> Reserve your place at Launch
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
<hr>
<section id="" class="">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				No more digging through email threads. With Reportedly, you always know where your status reports — and your team’s feedback — can be found. With full status report history, you can get the context you need in a matter of minutes. No matter how many companies you’re managing. And your startups can manage every investor they work with, from one dashboard.
			</div>
			<div class="col-md-4">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				No more digging through email threads. With Reportedly, you always know where your status reports — and your team’s feedback — can be found. With full status report history, you can get the context you need in a matter of minutes. No matter how many companies you’re managing. And your startups can manage every investor they work with, from one dashboard.
			</div>
			<div class="col-md-4">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				No more digging through email threads. With Reportedly, you always know where your status reports — and your team’s feedback — can be found. With full status report history, you can get the context you need in a matter of minutes. No matter how many companies you’re managing. And your startups can manage every investor they work with, from one dashboard.
			</div>
		</div>
	</div>
</section>

<section id="" class="">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="page-header">Features:</h1>
				<ul class="nav nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
					<li><a href="#" tooltip="{{thing.info}}">&bull;{{thing.name}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="" class="">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<h1 class="page-header">Online Courses:</h1>
				<p class="lead">We sell curriculum, and remote learning opportunities for a blended learning academy for a virtual school district component.</p>
			</div>
		</div>
	</div>
</section>
<hr>
<section id="technology-education-programs" class="">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<h2 class="heading-md text-center">Launch a comprehensive Tech Ed Program</h2>
				<p class="lead">Partner with Tech People, and bring comprehensive tech ed to your school, nonprofit, or community-based org.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="box">
					<div class="icon">
						<div class="image"><i class="fa fa-code"></i>
						</div>
						<div class="info">
							<h3 class="heading-sm">Code</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
							</p>
							<div class="more">
								<button class="btn btn-primary btn-lg" ui-sref="#" title="Title Link">
									Launch a Code program
								</button>
							</div>
						</div>
					</div>
					<div class="space"></div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="box">
					<div class="icon">
						<div class="image"><i class="fa fa-wrench"></i>
						</div>
						<div class="info">
							<h3 class="heading-sm">Build</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
							</p>
							<div class="more">
								<button class="btn btn-primary btn-lg" ui-sref="#" title="Title Link">
									Launch a Build program
								</button>
							</div>
						</div>
					</div>
					<div class="space"></div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="box">
					<div class="icon">
						<div class="image"><i class="fa fa-magic"></i>
						</div>
						<div class="info">
							<h3 class="heading-sm">Design</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
							</p>
							<div class="more">
								<button class="btn btn-primary btn-lg" ui-sref="#" title="Title Link">
									Launch a Design program
								</button>
							</div>
						</div>
					</div>
					<div class="space"></div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="box">
					<div class="icon">
						<div class="image"><i class="fa fa-line-chart"></i>
						</div>
						<div class="info">
							<h3 class="heading-sm">Start</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
							</p>
							<div class="more">
								<button class="btn btn-primary btn-lg" ui-sref="#" title="Title Link">
									Launch a Start program
								</button>
							</div>
						</div>
					</div>
					<div class="space"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container content">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<div class="row">
					<div class="col-xs-12">
						<div class="thumbnail adjust1">
							<div class="col-md-2 col-sm-2 col-xs-12">
								<img class="media-object img-rounded img-responsive" src="http://placehold.it/100">
							</div>
							<div class="col-md-10 col-sm-10 col-xs-12">
								<div class="caption">
									<p class="text-info lead adjust2">I can't wait to test this out.</p>
									<p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
									<blockquote class="adjust2">
										<p>Abhijit Goswami</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example1.com</cite></small> 
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="col-xs-12">
						<div class="thumbnail adjust1">
							<div class="col-md-2 col-sm-2 col-xs-12">
								<img class="media-object img-rounded img-responsive" src="http://placehold.it/100">
							</div>
							<div class="col-md-10 col-sm-10 col-xs-12">
								<div class="caption">
									<p class="text-info lead adjust2">I can't wait to test this out.</p>
									<p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
									<blockquote class="adjust2">
										<p>Abhijit Goswami</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example2.com</cite></small> 
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="col-xs-12">
						<div class="thumbnail adjust1">
							<div class="col-md-2 col-sm-2 col-xs-12">
								<img class="media-object img-rounded img-responsive" src="http://placehold.it/100">
							</div>
							<div class="col-md-10 col-sm-10 col-xs-12">
								<div class="caption">
									<p class="text-info lead adjust2">I can't wait to test this out.</p>
									<p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
									<blockquote class="adjust2">
										<p>Abhijit Goswami</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example3.com</cite></small> 
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> 
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> 
		</a>
	</div>
</div>

<section id="" class="">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">Receive our newsletter</h2>
				<p class="text-center">Stay up-to-date</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form>
					<label for="firstName">First Name</label>
					<input id="firstName" type="text">
					<label for="lastName">Last Name</label>
					<label for="emailAddress">Email Address</label>
					<input id="emailAddress" type="email">
				</form>
			</div>
		</div>
	</div>
</section>

<section id="" class="bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<h2 class="heading-lg text-center text-white">About Tech People</h2>
				<h3 class="text-center text-white">We're bringing Tech Ed to the People</h3>
				<p class="lead">At Tech People, we believe schools, and students deserve a real return on the investment the make in technoogy edcuation. TFor too long, the dialgoee has been controlled by curriculum companies, technolgy hadrware manufatures, and outsider interstes who get. At Tech People, we value people before technology. Students before sales. We're not l</p>
				<p class="lead">Across the country, students are clamoring to get into technology education. But the leading solutions force teachers to adapt, and try and implement using old technologies, instead of embracing new approaches. flipped classroom, s instant messaging, text-based messaging technologies. We instantly know when you need help. and can pipe in if we can't solve a problem.</p>
				<p class="lead">Get more timely insights into your investments. Get more from your investment in technology education. You’ve spent weeks — maybe even months — doing your due diligence. Deciding if this team is right for you. But the conversation doesn't stop there. Managing your portfolio means knowing your companies and how each and every one is progressing. That’s why we built Reportedly. To help investors, advisors, and accelerators stay in constant contact with their companies — from the time you start the conversation until the successful exit. So status reporting stops being a chore that founders put off — and becomes a habit of keeping investors and advisors in the loop, consistently. Instead of just screaming for help when poop hits the fan.</p>
				<p>We've talked to teachers across the State of Oregon.</p>
				<p class="lead">
					<button class="btn btn-default btn-lg">Learn more about Tech People</button>
				</p>
				Wondering if this curriculum, or that curriculum is correct for your school. What if you had an advocate in the classroom, working with your teachers in step, helping you provide current, forward-thinking technology education every day. Use Curriculum, Use our teachers.

			</div>
		</div>
	</div>
</section>

<section id="back-to-top" class="section-sm light-gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="text-center list-inline">
					<li class="">
						<button ng-click="" class="btn btn-primary btn-lg">Back to top</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<div ng-include="'components/footer/footer.html'"></div>